<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body  style="background:
url(https://s8.hostingkartinok.com/uploads/images/2020/07/e088249da391292f84a33bc1724b61e6.jpg)">
<br>
<div style="background:#F0FFF0;opacity:0.5">
<h1>Login page</h1>
</div>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<form method="POST" style="margin:70px;background:#F0FFF0;opacity:0.5;float:left;margin-right:300px;">
    <table>
        <tr>
            <td>Login</td>
            <td><input type="text" name="login"></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="password"></td>
        </tr>
        <tr>
            <td> <a href="{{ url_for('register') }}">Register</a></td>
            <td><center><button type="submit">Log In</button></center></td>
       </tr>
    </table>
</form>
</body>
</html>